[Unit]
Description=UT Austin Villa Vision
Requires=ut_motion.service
After=ut_motion.service

[Service]
Type=forking
ExecStart=/home/nao/bin/start_vision.sh
RestartSec=5
Restart=always

[Install]
WantedBy=default.target
